@import "variables"
@import "navbar"

/*------------------------------------------------
      Styles
/* ------------------------------------------- * /

body
  background-color: $dark-gray
  color: $light-gray

a:link
  color: $orange